


/* .dashboard{
   height: 100vh;;
    padding: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: repeat(3 ,1fr);
    
    
}

.cards{
    display: grid;
    gap: 20px;
    
}

.box{
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ffff;
    background-color: #ffff;
} 

.box1{
    grid-column: span 1;
    grid-row: span 2;
}
.box4{
    grid-column: span 3;
    grid-row: 12;
}
.box7{
    grid-column: span 1;
    grid-row: span 2;
}  */