.chartBox{
    display: flex;
    height: 100%;
}

.boxInfo{
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.title{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 0.9rem;

}

.chartInfo{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.texts{
    display: flex;
    flex-direction: column;
    text-align: right;
}

.percentage{
    color: greenyellow;
}

.chart{
    width: 100%;
    height: 100%;
}