.MuiDataGrid-root .MuiDataGrid-columnHeader:focus, .MuiDataGrid-root .MuiDataGrid-cell:focus,.PrivateSwitchBase-input:focus
{
  outline: none !important;
}

.MuiDataGrid-columnHeaderTitle.css-t89xny-MuiDataGrid-columnHeaderTitle{
  font-weight: 600 !important;
}

.MuiDataGrid-overlayWrapper{
  min-height: 164px !important;
}