
:root{
    --background-color:#F5F7F9 ;
    --secondary-color:#FFFFFF ;
    --text-color:#313131;
    --primary-color:#5A6DFC;

}
body{
    background-color: var(--background-color);
    font-family: 'Poppins', sans-serif;
    
  }
.main{
    font-family: 'Poppins', sans-serif;
    padding: 1rem 2rem;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading{
    color: var(--primary-color);
    font-size: 1.4rem;
}

.primary-button{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: #FFFFFF;
    padding: 1rem 2rem;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s ease;
}

.primary-button:hover{
    transform: scale(1.1);
    color: white;
}
.main-content{
    margin-top: 2rem;
    background-color: var(--secondary-color);
    width: calc( 100% - 260 );
    padding: 2rem 2rem;
    border-radius: 8px;
    box-shadow: 11px 11px 50px #0C0B0B12;
}

.main-header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}


.header-left{
    text-align: left;
}
.header-left .heading{
    font-size: 1.3rem;
}

.header-left .subheading{
    font-size: 0.9rem;
}

.form-input{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
    /* gr */
}

.form-group{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    color: var(--text-color);
}




