@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
  --background-color:#F5F7F9 ;
  --secondary-color:#FFFFFF ;
  --text-color:#313131;
  --primary-color:#5A6DFC;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--background-color);
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.sidebar::-webkit-scrollbar {
  display: none;
  width: 6px;
}

.sidebar::-webkit-scrollbar-track {
  background-color: transparent; 
  border-radius: 6px;
  transition: background-color 0.2s linear, width 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s linear, width 0.2s ease-in-out;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #aaa; 
  border-radius: 6px;
  transition: background-color 0.2s linear, width 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s linear, width 0.2s ease-in-out;
  width: 6px;
}
.sidebar:hover > .sidebar::-webkit-scrollbar{
  display: block;
}
.sidebar::-webkit-scrollbar-thumb:hover {
  background-color: #999; 
  width: 11px;
}
main{
  width: calc(100% - 220px);
  margin-left: 220px;
}





